<!-- <div>
  <div class="">
  <section class="text-center flex justify-center items-center h-screen">
    <div class="p-5 bg-image" style="
      height: 300px;
    "></div>
    <div class="bg-white/30 w-[70%] rounded-[40px] backdrop-blur-sm">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Bejelentkezés</h2>
            <form>
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email cím</label>
              </div>


              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Jelszó</label>
              </div>
            
              <button class="bg-blue-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6" >Bejelentkezés</button>
            </form>
           
            <p class="mb-3">Nincs még fiókod? <a routerLink="/sign-up">Jelentkezz be itt!</a></p>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  
  </div> -->

  <div>
    <div class="">
      <section class="text-center flex justify-center items-center h-screen">
        <div class="p-5 bg-image" style="
        height: 300px;
      "></div>
        <div class="bg-white/30 w-[70%] rounded-[40px] backdrop-blur-sm">
          <div class="card-body py-5 px-md-5">
  
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p class="text-3xl font-bold mb-5">Bejelentkezés</p>
                <form>
              
                
                  <div class="flex flex-col mb-4">
                    <label class="text-lg font-bold text-cstm-dark_gray self-start px-2" for="form3Example1">Email/Felhasználónév
                      cím</label>
                    <input  type="text" id=""
                      class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple" />
                  </div>
                  <div class="flex flex-row justify-between gap-10">
                    <div class="w-full flex flex-col mb-4">
                      <label class="text-lg font-bold text-cstm-dark_gray self-start px-2"
                        for="form3Example4">Jelszó</label>
                      <input type="password" id=""
                        class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple" />
                    </div>
                  
                  </div>
  
  
  
                </form>
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">Feliratkozás a hírlevélre</label>
                </div>
                <button
                  class="w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500">
                  Bejelentkezés
                </button>
                <p class="mb-3 text-lg">Nincs még fiókod? <a class="text-cstm-purple hover:border-b-2 border-cstm-purple"
                    routerLink="/sign-up">Regisztrálj itt!</a></p>
  
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  
  </div>