 <div  class="h-fit bg-white/30 w-[70%] rounded-[40px] flex flex border-3 p-3 m-3 justify-center items-center">
  <label for="textInput" class="block text-lg font-semibold mb-2">Írjon híreket</label>
  <div class="flex flex-col mb-1">
    <input id="textInput" [(ngModel)]="AdminText" placeholder="....."
      class="flex-1 border border-gray-300 px-4 py-2 rounded-md mb-2 focus:outline-none focus:border-blue-500" />
  
    <div class="relative inline-block text-left">
      <button type="button"
      class="w-[30%] text-xl text-cstm-orszagos hover:text-cstm-gray mb-4 border-3 border-cstm-orszagos hover:bg-cstm-orszagos rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-orszagos transform transition duration-500">
        Küld
      </button>
      
      <div class="flex flex-wrap items-center mt-2">
        <input type="checkbox" id="localCheckbox" class="form-checkbox h-5 w-5 text-indigo-600 transition duration-150 ease-in-out mr-2">
        <label for="localCheckbox" class="block text-sm leading-5 text-gray-900 mr-4">Helyi/Lokális hír</label>
  
        <input type="checkbox" id="nationalCheckbox" class="form-checkbox h-5 w-5 text-indigo-600 transition duration-150 ease-in-out mr-2">
        <label for="nationalCheckbox" class="block text-sm leading-5 text-gray-900 mr-4">Országos/nemzetközi hír</label>
  
        <input type="checkbox" id="programsCheckbox" class="form-checkbox h-5 w-5 text-indigo-600 transition duration-150 ease-in-out mr-2">
        <label for="programsCheckbox" class="block text-sm leading-5 text-gray-900">Programok</label>
      </div>
    </div>
  </div>
  

  <div *ngIf="displayedText" class="mt-4">
    <h3 class="text-lg font-semibold">Display Text:</h3>
    <p class="mt-2">{{ displayedText }}</p>
  </div>
</div>




<!-- lokalis hirek -->
<div class="w-full flex justify-center items-center">
  <div class="w-[90%] flex flex-row gap-8 mt-20">

    <div class="w-[40%] h-fit flex bg-white/30 backdrop-blur-xl rounded-3xl">
      <ul class="">
        <li class="w-full h-fit text-cstm-gray text-xl font-medium text-center py-3 rounded-t-3xl bg-cstm-lokalhir">Helyi/Lokális Hírek</li>
        <div class="px-4">
          <li class="border-bottom">
            <p class="font-semibold">Ismét összeült a Könyvek klubja olvasókör a könyvtárban</p>
            <p>Ismét összeült a Könyvek klubja olvasókör a Kiskunfélegyházi Petőfi Sándor Városi Könyvtárban dr. Szabó
              Imre filozófus vezetésével. A március 5-ei eseményen Oliver Sacks: A férfi, aki kalapnak nézte a feleségét
              című művét elemezték.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Szakmai kirándulások a Nemzeti Együttműködési Alap támogatásával</p>
            <p>Alapítványi támogatással vitte szakmai kirándulásokra 11-12. évfolyamos diákjait a Közgé.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Zenei élmények a Betűbölcsiben</p>
            <p>Kis-Fekete Vilmos, a Kiskunfélegyházi Balázs Árpád Alapfokú Művészeti Iskola intézményvezetője tartott
              előadást március 5-én, kedden a városi könyvtár baba-mama klubjában. A Betűbölcsiben ezúttal a korai
              hangélményekről és a zenei nevelés fontosságáról hallhattak az érdeklődők.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Éremeső a XI. Csikós József emléktornán</p>
            <p>Március első hétvégéjén rendezték meg Kiskunfélegyházán a XI. Csikós József emléktornát. A sok versenyző
              csapatnak köszönhetően 2 helyszínen zajlottak a teremlabdarúgó-mérkőzések. A Félegyházi Térségi Sportiskola
              U11 korosztálya 3 csapatot indított a megmérettetésen. Az FTSI „A” és FTSI „B” csapat a Kiskunfélegyházi
              Városi Sportcsarnokban, a harmadik csapat a Mezgé sportcsarnokában ontotta a gólokat.</p>
          </li>
        </div>
      </ul>
    </div>



    <!-- orszagos hirek -->

    <div class="w-[40%] h-fit flex bg-white/30 backdrop-blur-xl rounded-3xl">
      <ul class="">
        <li class="w-full h-fit text-cstm-gray text-xl font-medium text-center py-3 rounded-t-3xl bg-cstm-orszagos">Országos hírek</li>
        <div class="px-4">
          <li class="border-bottom">
            <p class="font-semibold">Ismét összeült a Könyvek klubja olvasókör a könyvtárban</p>
            <p>Ismét összeült a Könyvek klubja olvasókör a Kiskunfélegyházi Petőfi Sándor Városi Könyvtárban dr. Szabó
              Imre filozófus vezetésével. A március 5-ei eseményen Oliver Sacks: A férfi, aki kalapnak nézte a feleségét
              című művét elemezték.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Szakmai kirándulások a Nemzeti Együttműködési Alap támogatásával</p>
            <p>Alapítványi támogatással vitte szakmai kirándulásokra 11-12. évfolyamos diákjait a Közgé.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Zenei élmények a Betűbölcsiben</p>
            <p>Kis-Fekete Vilmos, a Kiskunfélegyházi Balázs Árpád Alapfokú Művészeti Iskola intézményvezetője tartott
              előadást március 5-én, kedden a városi könyvtár baba-mama klubjában. A Betűbölcsiben ezúttal a korai
              hangélményekről és a zenei nevelés fontosságáról hallhattak az érdeklődők.</p>
          </li>
          <li class="border-bottom">
            <p class="font-semibold">Éremeső a XI. Csikós József emléktornán</p>
            <p>Március első hétvégéjén rendezték meg Kiskunfélegyházán a XI. Csikós József emléktornát. A sok versenyző
              csapatnak köszönhetően 2 helyszínen zajlottak a teremlabdarúgó-mérkőzések. A Félegyházi Térségi Sportiskola
              U11 korosztálya 3 csapatot indított a megmérettetésen. Az FTSI „A” és FTSI „B” csapat a Kiskunfélegyházi
              Városi Sportcsarnokban, a harmadik csapat a Mezgé sportcsarnokában ontotta a gólokat.</p>
          </li>
        </div>
      </ul>
    </div>


    <!-- 
programok -->


<div class="w-[20%] h-fit flex bg-white/30 backdrop-blur-xl rounded-3xl">
  <ul class="">
    <li class="w-full h-fit text-cstm-gray text-xl font-medium text-center py-3 rounded-t-3xl bg-cstm-programok(teal)">Programok</li>
    <div class="px-4">
      <li class="border-bottom">
        <p class="font-semibold">Ismét összeült a Könyvek klubja olvasókör a könyvtárban</p>
        <p>Ismét összeült a Könyvek klubja olvasókör a Kiskunfélegyházi Petőfi Sándor Városi Könyvtárban dr. Szabó
          Imre filozófus vezetésével. A március 5-ei eseményen Oliver Sacks: A férfi, aki kalapnak nézte a feleségét
          című művét elemezték.</p>
      </li>
      <li class="border-bottom">
        <p class="font-semibold">Szakmai kirándulások a Nemzeti Együttműködési Alap támogatásával</p>
        <p>Alapítványi támogatással vitte szakmai kirándulásokra 11-12. évfolyamos diákjait a Közgé.</p>
      </li>
      <li class="border-bottom">
        <p class="font-semibold">Zenei élmények a Betűbölcsiben</p>
        <p>Kis-Fekete Vilmos, a Kiskunfélegyházi Balázs Árpád Alapfokú Művészeti Iskola intézményvezetője tartott
          előadást március 5-én, kedden a városi könyvtár baba-mama klubjában. A Betűbölcsiben ezúttal a korai
          hangélményekről és a zenei nevelés fontosságáról hallhattak az érdeklődők.</p>
      </li>
      <li class="border-bottom">
        <p class="font-semibold">Éremeső a XI. Csikós József emléktornán</p>
        <p>Március első hétvégéjén rendezték meg Kiskunfélegyházán a XI. Csikós József emléktornát. A sok versenyző
          csapatnak köszönhetően 2 helyszínen zajlottak a teremlabdarúgó-mérkőzések. A Félegyházi Térségi Sportiskola
          U11 korosztálya 3 csapatot indított a megmérettetésen. Az FTSI „A” és FTSI „B” csapat a Kiskunfélegyházi
          Városi Sportcsarnokban, a harmadik csapat a Mezgé sportcsarnokában ontotta a gólokat.</p>
      </li>
    </div>
  </ul>
</div>

  </div>
</div>