
/* A különböző méretű kijelzőkre szabott stílusok */

/* Alap stílusok, amik minden méretre érvényesek */

/* .kozep {
  padding: 15px;
} */

/* Telefonos nézet */
/* @media (max-width: 767px) {
  
  .kozep {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
} */

/* Tablet nézet és nagyobb */
/* @media (min-width: 768px) {

  .kozep {
    width: 40%;
  }


} */
