<!-- <form method="post">
    <input type="text" name="username" id="username" [(ngModel)]="username" >
    <button (click)="postMakeAdmin()">MakeAdmin</button>
</form>
<form method="post">
    <input type="text" name="ize" id="ize" [(ngModel)]="ize.ize" >
    <button (click)="postHello()">posthello</button>
</form> -->

    <button (click)="getHello()">gethello</button><br><br>
    <button (click)="postItemDemo()">postItemDemo</button><br><br>
    <button (click)="delPost()">delPost</button><br><br>
    <button (click)="getMyUserInfo()">getMyUserInfo</button>
    <button (click)="getOrgsForUserInfo()">getOrgsForUserInfo</button>
    <!-- <span>Make-Admin: {{makeAdmin|json}}</span><br>
      <span>PostHello: {{postHelloRes|json}}</span><br>
    -->
    <span>GetHello: {{getHelloRes|json}}</span><br>
    <span>getMyUserInfo: {{getMyUserInfoRes|json}}</span><br>
    <span>getOrgsForUserInfo: {{getOrgsForUserInfoRes|json}}</span><br>
      
      
      
<!-- file küldő gomb -->
<button (click)="preprePostFile()">postfile</button>
<!-- példa appFilePicker gomb -->
<!-- angular material-t használ -->
<div class="tab-container" fxLayoutAlign="center center">
  <button #buttonPicker="appFilePicker" mat-raised-button color="primary" appFilePicker [multiple]="_multiple" (filesChanged)="_onFilesChanged($event)" (filesReset)="_onReset()">
    Upload
  </button>
</div>


<!-- angular material-t használ -->
<!-- példa File részletek kiírás gomb  a [datasource úgy viselkedik mint az *ngFor]-->
<table mat-table [dataSource]="_selectedFiles" class="selected-files-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let file"> {{file.name}} </td>
    </ng-container>
  
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let file"> {{file.type}} </td>
    </ng-container>
  
    <!-- Size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size (bytes) </th>
      <td mat-cell *matCellDef="let file"> {{file.size}} </td>
    </ng-container>
  
    <!-- Last Modified Column -->
    <ng-container matColumnDef="lastModified">
      <th mat-header-cell *matHeaderCellDef> Last Modified </th>
      <td mat-cell *matCellDef="let file"> {{file.lastModified | date }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
  </table>