<div class="container mt-5">
  <div class="appointment-container">
    <h2>Szervezés Kezdeményezése</h2>
    <form (ngSubmit)="inputModel()" #szervezesForm="ngForm">
      <div class="form-group">
        <label for="rendezesNev">Rendezés neve:</label>
        <input [(ngModel)]="szervezesModel.name" type="text" id="rendezesNev" name="rendezesNev"  class="form-control" required>
      </div>

      <div class="form-group">
        <label for="rendezesLeiras">Rendezés leírása:</label>
        <input [(ngModel)]="szervezesModel.description" type="text" id="rendezesLeiras" name="rendezesLeiras" class="form-control" required>
      </div>
    
      <div class="form-group">
        <label for="idopont">Ekkor:</label>
        <input [(ngModel)]="szervezesModel.startDate" type="datetime-local" id="idopont" name="idopont"  class="form-control" required>
      </div>
    
      <div class="form-group">
        <label for="telefonszam">Telefonszám:</label>
        <input [(ngModel)]="szervezesModel.phone" type="tel" id="telefonszam" name="telefonszam" class="form-control" required>
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!szervezesForm.valid">Szervezés indítványozása</button>
    </form>
  </div>
</div>
