<div class="container mt-5">
    <h1>Nyitvatartás</h1>
    <h2>Bővebb információk a nyitvatartásokról itt tekinthetőek meg</h2>
  
    <div class="row mt-4">
      <div class="col-md-6 baloldal">
        <ul>
          <li>hírek</li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam repellat corrupti perferendis sint. Magni officia eaque voluptatem cum itaque suscipit, excepturi sequi repellendus esse voluptate? Similique omnis iusto magnam.</p>
        </ul>
        <ul>
          <li>hírek</li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel magnam voluptate. Tempore ea veniam rerum laborum repudiandae. Quas expedita quia repellat dicta! Est quos fugit, ipsa ea quo enim.</p>
        </ul>
        <ul>
          <li>hírek</li>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat odio ea possimus quasi cupiditate reprehenderit quas, tempore quod earum corrupti officiis, quisquam omnis atque vero aliquam. Tempora ducimus labore beatae?</p>
        </ul>
        <ul>
          <li>hírek</li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptas veritatis itaque? Dolores, atque temporibus libero eum molestiae doloribus quam soluta ullam, impedit voluptatum a necessitatibus. Porro omnis ratione unde.</p>
        </ul>
      </div>
  
      <div class="col-md-6 jobboldal">
        <!-- Add content for the right side as needed -->
        <ul>
            <li>hírek</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam repellat corrupti perferendis sint. Magni officia eaque voluptatem cum itaque suscipit, excepturi sequi repellendus esse voluptate? Similique omnis iusto magnam.</p>
          </ul>
          <ul>
            <li>hírek</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel magnam voluptate. Tempore ea veniam rerum laborum repudiandae. Quas expedita quia repellat dicta! Est quos fugit, ipsa ea quo enim.</p>
          </ul>
          <ul>
            <li>hírek</li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat odio ea possimus quasi cupiditate reprehenderit quas, tempore quod earum corrupti officiis, quisquam omnis atque vero aliquam. Tempora ducimus labore beatae?</p>
          </ul>
          <ul>
            <li>hírek</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptas veritatis itaque? Dolores, atque temporibus libero eum molestiae doloribus quam soluta ullam, impedit voluptatum a necessitatibus. Porro omnis ratione unde.</p>
          </ul>
      </div>
    </div>
  </div>
  