<div class="container mt-5">
  <div class="appointment-container">
    <h2>Foglaljon időpontot!</h2>
    <form (ngSubmit)="inputForm()" #idopontForm="ngForm">
      <div class="form-group">
        <label for="nev">Név:</label>
        <input [(ngModel)]="idopontModel.name" type="text" id="nev" name="nev"  class="form-control" required>
      </div>

      <div class="form-group">
        <label for="orvos">Orvos</label>
        <input type="email" id="email" name="email"  class="form-control" required>
      </div> 

  

      <label for="type">Válasszon orvost:</label>
          <select class="form-control" id="type" name="type" required>
            <option value="orvosok">orvosok</option>
            <option value="Dr. Baka Károly: Kardiológus">Dr. Baka Károly: Kardiológus</option>
            <option value="Dr. Osbáth László: Háziorvos">Dr. Osbáth László: Háziorvos</option>
            <option value="Dr. Kun Béla: Sebész">Dr. Kun Béla: Sebész</option>
            <option value="Dr. Madár Katalin: Háziorvos">Dr. Madár Katalin: Háziorvos</option>

          </select>


      <div class="form-group">
        <label for="telefonszam">Telefonszám:</label>
        <input [(ngModel)]="idopontModel.phone" type="tel" id="telefonszam" name="telefonszam"  class="form-control" required>
      </div>

      <label for="birthdaytime">Időpont:</label>
      <input [(ngModel)]="idopontModel.startDate" type="datetime-local" id="datum" name="datum" class="form-control" required>

      <button type="submit" class="btn btn-primary" [disabled]="!idopontForm.valid">Időpont foglalása</button>
    </form>
  </div>
</div>
