<div class="col kozep">
  <ul class="list-group">
    <li class="list-group-item bg-success text-white">Orvosi Információk</li>
    <li class="list-group-item">
      <h5 class="mb-2">Helyszín</h5>
      <h6>Odavissza utca 62.</h6>
      <ul>
        <li>Dr. Baka Károly: Kardiológus</li>
        <li>Dr. Osbáth László: Háziorvos</li>
        <li>Dr. Kun Béla: Sebész</li>
        <li>Dr. Madár Katalin: Háziorvos</li>
      </ul>
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Nyitvatartás</h5>
      <p>Dr. Baka Károly: Kardiológus</p>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>

      <p>Dr. Osbáth László: Háziorvos</p>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>

      <p>Dr. Kun Béla: Sebész</p>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>
      <p>Dr. Madár Katalin: Háziorvos</p>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>

      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>


      
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Időpontfoglalás</h5>
     


      <p>Ahhoz, hogy Időpontot tudjon foglalni töltse ki az űrlapot. </p>
      <button type="submit" class="btn btn-primary" routerLink="/orvos-idopont-foglalas"> Időpontfoglalás</button>
    </li>

  </ul>
</div>
